<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training\Basic\Api\Data\PostSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Training\Basic\Api\Data\PostInterface" type="Training\Basic\Model\Post" />
    <preference for="Training\Basic\Api\PostRepositoryInterface" type="Training\Basic\Model\PostRepository" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="basic_post_listing_data_source" xsi:type="string">Training\Basic\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Training\Basic\Model\ResourceModel\Post\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">training_basic_post</argument>
            <argument name="eventPrefix" xsi:type="string">training_basic_post_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">training_post_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Training\Basic\Model\ResourceModel\Post</argument>
        </arguments>
    </type>
</config>
