<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
            id="Advox_Allegro::index" 
            title="Allegro" 
            translate="title" 
            module="Advox_Allegro" 
            sortOrder="20" 
            dependsOnModule="Advox_Allegro" 
            resource="Advox_Allegro::index"
        />
        <add 
            id="Advox_Allegro::index_auctions" 
            title="Auctions" 
            translate="title" 
            module="Advox_Allegro" 
            sortOrder="20" 
            parent="Advox_Allegro::index" 
            action="advox_allegro/auction" 
            resource="Advox_Allegro::auctions"
        />
        <add 
            id="Advox_Allegro::index_shipping_methods" 
            title="Shipping Methods" 
            translate="title" 
            module="Advox_Allegro" 
            sortOrder="30" 
            parent="Advox_Allegro::index" 
            action="advox_allegro/shipping_methods" 
            resource="Advox_Allegro::index_shipping_methods"
        />
        <add 
            id="Advox_Allegro::index_templates" 
            title="Templates" 
            translate="title" 
            module="Advox_Allegro" 
            sortOrder="40" 
            parent="Advox_Allegro::index" 
            action="advox_allegro/templates" 
            resource="Advox_Allegro::index_templates"
        />
        <add 
            id="Advox_Allegro::index_configuration" 
            title="Configuration" 
            translate="title" 
            module="Advox_Allegro" 
            sortOrder="50" 
            parent="Advox_Allegro::index" 
            action="advox_allegro/configuration" 
            resource="Advox_Allegro::index_configuration"
        />
        <add 
            id="Advox_Allegro::index_log" 
            title="Logs" 
            translate="title" 
            module="Advox_Allegro" 
            sortOrder="60" 
            parent="Advox_Allegro::index" 
            action="advox_allegro/log" 
            resource="Advox_Allegro::index_log"
        />
    </menu>
</config>
